<h1>singup form</h1>


<form class="" action="" method="post">
    <input type="text" placeholder="username" name="username" value="">
    <input type="password" placeholder="password" name="password" value="">
    <button type="button" name="button">Submit</button>
</form>
